@import '../../bower_components/mrmrs-colors/less/colors';
@import url('http://fonts.googleapis.com/css?family=Raleway');

.top-line {
  background-color: @orange;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  font-family: 'Raleway', sans-serif;
  font-size: 14em;
  color: @white;
  text-align: center;
  vertical-align: middle;
  .small {
    font-size: .2em;
  }
}
