@import '../../bower_components/mrmrs-colors/less/colors';
@import url('http://fonts.googleapis.com/css?family=Raleway');

body {
  background-color: @orange;
}

.top-line {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  padding-bottom: 30px;
  font-family: 'Raleway', sans-serif;
  @media (min-width: 400px) {
    font-size: 14em;
  }
  @media (min-width: 700px) {
    font-size: 18em;
  }
  @media (max-width: 400px) {
    font-size: 10em;
  }
  color: @white;
  text-align: center;
  vertical-align: middle;
  .small {
    font-size: .2em;
  }
}
