@brand-border: 0.03em solid #fff;

@header-bg: @orange;

@header-color: #f0ebdd;
@section-one-bg: @white;

@section-one-color: #7c7c7c;
@section-two-bg: #efeae1;

@section-two-color: #5c5c5c;
@section-three-bg: @white;

@footer-bg: #2b303a;
@footer-color: #aa8a69;
