@brand-border: 0.03em solid #fff;

@header-bg: @orange;
@header-color: @white;

@section-about-bg: #2b303a;
@section-about-color: #c0c5ce;

@section-one-bg: @white;
@section-one-color: #737373;

@section-two-bg: #efeae1;
@section-two-color: #5c5c5c;

@section-three-bg: #b6ab9c;
@section-three-color: @white;

@section-four-bg: @white;
@section-four-color: @section-one-color;

@footer-bg: #3a424f;
@footer-color: #aa8a69;
