doctype
html
  head
    title Voix
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css'
      rel='stylesheet')
    link(rel='stylesheet' href='/assets/css/main.css')
    <!--[if lt IE 9]>
    script(src='/assets/js/html5shiv.js')
    <![enif]-->
  body
    header
      .voix-brand
    .content
      section.one
        .columns
            .column.left
              h2 Наши цели
              p Мы специализируемся на создании корпоративного ПО любой сложности.
              p При разработке мы делаем основной упор на удобство для конечного пользователя.
              p Вторым приоритетом для нас является скорость установки, обновления и настройки нашего ПО.
              p Мы очень любим эксперементировать со всем новым и всегда стараемся находиться на острие прогресса.
            .column.right
              img(src='/assets/img/about.png')
      section.two
        .columns
            .column.left
              img(src='/assets/img/workflow.svg')
            .column.right
              h2 Чего мы уже достигли
              p Наши специалисты имеют опыт работы с Web и GIS технологиями с 2005 года.
              p.
                Работая для крупных корпоративных заказчиков, мы оптимизировали все наши внутренние
                процессы.
              p.
                Мы верим что удобство работы наших сотрудников превыше всего, поэтому у нас используются
                самые новые и совершенные инструменты разработки.
      section.three
        .columns
          .column
            h2 Стек используемях нами технологий
      section.four
        .logos
          .logo
            a(href='http://nodejs.org')
              img(src='/assets/img/nodejs.svg', title='NodeJS')
          .desc
            a(href='http://nodejs.org')
              h3 NodeJS
            p.
              Идеален для быстрого прототипирования и создания RESTful JSON API.
              С помощью node-webkit можно разрабатывать полноценные десктоп приложения.
              А огромный выбор библиотек с открытым кодом трудно переоценить.
        .logos
          .logo
            a(href='http://www.html5rocks.com/', title='HTML5')
              img(src='/assets/img/html5.svg')
          .desc
            a(href='http://www.html5rocks.com/', title='HTML5')
              h3 HTML5
            p.
              Мы стараемся ориентироваться на современные браузеры, в которых развита поддержка HTML5,
              это позволяет нам максимизировать удобство пользователей и наших разработчиков,
              а также снизить цены на продукт.
        .logos
          .logo
            a(href='http://angularjs.org/')
              img(src='/assets/img/angular.svg', title='AngularJS')
          .desc
            a(href='http://angularjs.org/')
              h3 AngularJS
            p.
              Этот фреймворк от Google уже 2-й год наш постоянный спутник во всех проектах. Его широкие
              возможности тестирования, удобная система модулей и простота нам не оставили выбора.
        .logos
          .logo
            a(href='http://golang.org/')
              img(src='/assets/img/golang.svg', title='Go Language')
          .desc
            a(href='http://golang.org/')
              h3 Go language
            p.
              Когда нужно написать какой-либо инструмент, установка которого заключается в
              простом копировании исполняемого файла, Go незаменим. Помимо этого Go очень удобен в
              разработке многопоточных систем.
        .logos
          .logo
            a(href='http://java.com/')
              img(src='/assets/img/java.svg', title='Java')
          .desc
            a(href='http://java.com/')
              h3 Java
            p.
              Java в наши дни продолжает радовать новыми версиями, а ее возможности обратной совместимости
              отлично подходят для интеграции со старыми системами.
    footer
      .copy
        | Copyright 2014,
        span.voix Voix
        |, LLC. All rights reserved.
