doctype
html
  head
    title Voix
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    script(src='/assets/js/main.js')
    link(href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css'
      rel='stylesheet')
    link(rel='stylesheet' href='/assets/css/main.css')
    <!--[if lt IE 9]>
    script(src='/assets/js/html5shiv.js')
    <![enif]-->
  body
    header
      .voix-brand
      a.language-switcher.ru(href='/') RU
    .content
      section.one
        .columns
            .column.left
              h2 Our goals
              p
                i.fa.fa-check
                b  Reliable software.
                |  We create enterprise software of any complexity with long term support.
              p
                i.fa.fa-check
                b  User friendly.
                |  We use modern web technologies to create easy to use user interfaces.
              p
                i.fa.fa-check
                b  Быстрая реакция.
                |  Акцент на скорости установки, обновления и настройки нашего ПО.
              p
                i.fa.fa-check
                b  Вперед.
                |  Мы очень любим пробовать все новое и стараемся всегда находиться на острие прогресса.
            .column.right
              img(src='/assets/img/about.png')
      section.two
        .columns
            .column.left
              img(src='/assets/img/workflow.svg')
            .column.right
              h2 Experience
              p
                i.fa.fa-check
                |  Our developers are creating Web and GIS apps since 2005.
              p
                i.fa.fa-check
                |  We optimized our workflow for dealing with big enterprise customers.
              p
                i.fa.fa-check
                |  We believe in comfort of our employees, that's why we use best tools in the market.
              p
                i.fa.fa-check
                |  We are big fans of
                a(href='https://37signals.com/rework/')  Rework
                |  &
                a(href='https://37signals.com/remote/')  Remote
                |  books and most of our activity is based on remote collaboration.
      section.three
        .columns
          .column
            h2 Our technology stack
      section.four
        .logos
          .logo
            a(href='http://nodejs.org')
              img(src='/assets/img/nodejs.svg', title='NodeJS')
          .desc
            a(href='http://nodejs.org')
              h3 NodeJS
            p.
              Is ideal for prototyping and create RESTful JSON APIs.
              Node-webkit allows us to create fully functional desktop apps.
              Tens of thousands open source libraries is a ...
        .logos
          .logo
            a(href='http://www.html5rocks.com/', title='HTML5')
              img(src='/assets/img/html5.svg')
          .desc
            a(href='http://www.html5rocks.com/', title='HTML5')
              h3 HTML5
            p.
              Мы стараемся ориентироваться на современные браузеры, в которых развита поддержка HTML5,
              это позволяет нам максимизировать удобство пользователей и наших разработчиков,
              а также снизить цены на продукт.
        .logos
          .logo
            a(href='http://angularjs.org/')
              img(src='/assets/img/angular.svg', title='AngularJS')
          .desc
            a(href='http://angularjs.org/')
              h3 AngularJS
            p.
              Этот фреймворк от Google уже 2-й год наш постоянный спутник во всех проектах. Его широкие
              возможности тестирования, удобная система модулей и простота нам не оставили выбора.
        .logos
          .logo
            a(href='http://golang.org/')
              img(src='/assets/img/golang.svg', title='Go Language')
          .desc
            a(href='http://golang.org/')
              h3 Go language
            p.
              Когда нужно написать какой-либо инструмент, установка которого заключается в
              простом копировании исполняемого файла, Go незаменим. Помимо этого, Go очень удобен в
              разработке многопоточных систем.
        .logos
          .logo
            a(href='http://java.com/')
              img(src='/assets/img/java.svg', title='Java')
          .desc
            a(href='http://java.com/')
              h3 Java
            p.
              Java в наши дни продолжает радовать новыми версиями, а ее возможности обратной совместимости
              отлично подходят для интеграции со старыми системами.
    footer
      .social
        a(href='https://twitter.com/teamvoix')
          span.fa.fa-twitter
        |&nbsp;|&nbsp;
        a(href='mailto:team@voix.io') team@voix.io
      .copy
        | Copyright 2014,
        span.voix VOIX
        |, LLC. All rights reserved.
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-49275214-1', 'viox.io');
      ga('send', 'pageview');
