doctype
html
  head
    title Voix
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='/assets/css/bootstrap.min.css')
    link(rel='stylesheet' href='/assets/css/main.css')
    <!--[if lt IE 9]>
    script(src='/assets/js/html5shiv.js')
    script(src='/assets/js/respond.min.js')
    <![enif]-->
  body
    .top-line Voix
      .small soon
    script(src='/assets/js/jquery.min.js')
    script(src='/assets/js/bootstrap.min.js')
